body {
    color: var(--gray);
}

.fly-blue {
    background-color: var(--blue);
    color: var(--white);
}

.fly-green {
    background-color: var(--green);
    color: var(--white);
}

.fly-blue-dark {
    background-color: var(--blue-dark);
    color: var(--white)
}