:root {
	--header-height: 100px;
	--font-primary:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	--font-secondary:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	--font-monospace:"Consolas","Monaco","Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New";
	--transparent:transparent;
	--current:currentColor;
	--black:#000;
	--white:#fff;
	--gray:#5d5e5e;
	--gray-offset:#656666;
	--gray-dark:#262727;
	--gray-dark50:#434344;
	--gray75:#9f9c9c;
	--gray25:#c7c4c4;
	--gray25-dark50:var(--gray75);
	--gray15:#e7e7e7;
	--gray5:#f7f6f6;
	--gray2:#fafafa;
	--gray1:#fcfcfc;
	--blue:#50c6db;
	--blue-offset:#59c9dd;
	--blue-bright:#00c1db;
	--blue-dark:#01516e;
	--blue-dark25:#296a82;
	--blue-dark50:#338199;
	--blue75:#b0e0ea;
	--blue25:#d6eef2;
	--blue5:#8fd6e3;
	--blue1:#effafc;
	--green:#51bb7b;
	--green-offset:#5abe82;
	--green-bright:#a1c07b;
	--green-dark:#267048;
	--green-dark50:#419564;
	--green75:#add9b8;
	--green25:#d4ead9;
	--green2:#f4faf7;
	--green1:#eff9f3;
	--yellow:#f0ce15;
	--yellow-offset:#f2d32c;
	--yellow-bright:#ffd315;
	--yellow-dark:#9a7700;
	--yellow-dark50:#c3a028;
	--yellow75:#f6e299;
	--yellow25:#f9edc9;
	--yellow1:#fefbea;
	--orange:#f47820;
	--orange-offset:#f57f2b;
	--orange-bright:#ff7d20;
	--orange-dark:#8e4402;
	--orange-dark50:#bb5f23;
	--orange75:#fab889;
	--orange25:#fdd9be;
	--orange1:#fef3eb;
	--red:#ef4e65;
	--red-offset:#f0576d;
	--red-bright:#ff5365;
	--red-dark:#8c2738;
	--red-dark50:#ba3e51;
	--red75:#f18085;
	--red25:#fad1cd;
	--red1:#feeff1;
	--pink:#e0368c;
	--pink-offset:#e24092;
	--pink-bright:#ff3b8c;
	--pink-dark:#851252;
	--pink-dark50:#af2a6f;
	--pink75:#eba0c0;
	--pink25:#f3cddd;
	--pink1:#fcedf5;
	--purple:#8351a0;
	--purple-offset:#895aa5;
	--purple-bright:#d356a0;
	--purple-dark:#4e2760;
	--purple-dark50:#693f7e;
	--purple75:#b69cc8;
	--purple25:#b69cc8;
	--purple1:#f4eff6;
	--wl-primary:#1aa2df;
	--wl-gray1:#878a8f;
	--wl-gray2:#999;
	--wl-gray3:#ccc;
	--wl-gray4:#e6e6e6;
	--wl-gray5:#f2f2f2;
	--wl-gray6:#fafafa;
	--width-x-small:32rem;
	--width-small:73.4rem;
	--width-medium:102.4rem;
	--width-large:118.5rem;
	--width-x-large:134rem;
	--width-full:100%;
	--theme-border-radius:.4rem;
	--theme-border-radius-lg:1rem;
	--step-0:0;
	--step-1:0.2rem;
	--step-2:0.4rem;
	--step-3:1rem;
	--step-4:2rem;
	--step-5:3rem;
	--step-6:4rem;
	--step-7:5rem;
	--step-8:6rem;
	--step-9:8rem;
	--box-shadow-light:0 0 2px 0 rgba(38,39,39,.35);
	--box-shadow:0 0 2px 0 rgba(38,39,39,.35);
	--motion-ease:cubic-bezier(0.2,0.3,0.25,0.9);
	--motion-bounce:cubic-bezier(0.6,0.9,0.65,1.15);
	--theme-color-base:var(--blue);
	--theme-color-bright:var(--blue-bright);
	--theme-color-dark:var(--blue-dark);
	--theme-color-dark50:var(--blue-dark50);
	--theme-color75:var(--blue75);
	--theme-color25:var(--blue25);
	--theme-color5:var(--blue5);
	--theme-color1:var(--blue1);
	--theme-color-copy:var(--gray-dark);
	--theme-color-copy-soft:var(--gray75);
	--theme-color-links: var(--theme-color-base,var(--gray-dark));
	--theme-color-links-active:var(--theme-color-dark50,var(--gray25));
	--theme-color-links-disabled:var( --gray15);
}